<h2>Login</h2>

<form class="form login-form">
    <div class = "form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div class = "form-group">
        <label for = "password">Password</label>
        <input type = "form-input" id="password" name="password-login"/>
    </div>
    <div class = "form-group">
        <button class = "btn btn-primary" type = "submit">Login</button>
    </div>
</form>
<li><a href = "/signup">SignUp Here</a></li>
<script src = "/Homework/Tec-Blog/public/js/login.js"></script>