<h2>SignUp</h2>

<form class="form signup-form">
    <div class = "form-group">
        <label for="name">User Name:</label>
        <input type="form-input" id="username" name="name-signup"/>
    <div class = "form-group">
        <label for="email">Email:</label>
        <input type="form-input" id="email" name="email-signup"/>
    </div>
    <div class = "form-group">
        <label for = "password">Password:</label>
        <input type = "form-input" id="password" name="signup"/>
    </div>
    <div class = "form-group">
        <button class = "btn btn-primary" type = "submit">SignUp</button>
    </div>
</form>
<script src = "/Homework/Tec-Blog/public/js/signup.js"></script>